@tailwind base;
@tailwind components;
@tailwind utilities;



/* Customize scrollbar */
::-webkit-scrollbar {
    width: 6px;
    border-radius: 5px;
}
    
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
}
